/bin
/src/SysCore/.vs
/src/SysCore/debug
/src/SysCore/Lib/Debug
/src/SysCore/Kernel/Debug
/src/SysCore/Kernel/*.user
/src/SysCore/Hal/Debug
/src/SysCore/Keyboard/Debug
/src/SysCore/*.ncb
/src/SysCore/FloppyDisk/Debug
/src/SysCore/Fat12/Debug
